@import "tailwindcss";

@theme {
  --color-primary: #1A1A1A;
  --color-secondary: #787586;
  --color-customblue: #CBCBFF;
  --color-customblue-light: #F7F7F8;
  --color-customblue-dark: #0B0D28;

  --font-darkerGrotesque: Darker Grotesque, serif;
  --font-roboto: Roboto, serif;
  --font-ebgaramond: EB Garamond, serif;
  --font-bricolageGrotesque: Bricolage Grotesque, sans-serif;
}

